body{
    width: 100%;
    height: 100%;
    background-color: #223442;
    margin: 0 auto;
}
main{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.menu-principal{
    width: 100%;
    background-color: #dfbb6e;
    height: 60px;

}

.redes-sociais ul, li{
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
       
}
.redes-sociais{
    width: 30%;
    float: right;
}
.logo img{
    float: left;
    height: 30px;
    margin-top: 15px;    
}
.logo{
    width: 70%;
}
.imagem-lateral img{
    float: left;
    height: 800px;
    width: 15%;
    
}
.nav-menu{
float: left;
width: 100%;
background-color: #ffd57a;
border-bottom: 3px solid #c5a663;
height:50px

}
.nav-menu ul{
    margin-left:12%;

}
.nav-menu  li{
    
    display: inline;    
    list-style-type: none; 
    overflow: hidden; 

}
.nav-menu a{
    text-transform: uppercase;    
    padding:17px 17px;
    text-align:center;
    text-decoration: none;
    color: black;  
    margin-right:30px;    
    border-bottom: 3px solid #a18a5300;
}
.nav-menu  li a:hover{
    
    background-color: #ffd57a;
    border-bottom: 3px solid #a18953;
}
